* {
  box-sizing: border-box;
}
/* FONTS */
@font-face {
  font-family: meme-font;
  src: url(./font/impact.ttf);
}
@font-face {
  font-family: rubik;
  src: url(./font/Rubik-Regular.ttf);
}
@font-face {
  font-family: fa;
  src: url(./font/font-awesome.otf);
}

/* BTN TESTING AREA */

/* BASIC */
body {
  margin: 0;
  font-family: rubik;
}

h1 {
  font-size: 2rem;
}
/* MAIN NAV */
.main-nav {
  height: 15vh;
  background-image: url(./img/nav.jpg);
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.nav-buttons button {
  margin-inline-end: 50px;
  font-size: 30px;
  font-family: rubik;
  background-color: transparent;
  color: white;
  border: 0;
  border-right: 4px solid #787878;
  padding: 20px 20px 20px 0;
  cursor: pointer;
  transition: transform 1s;
}
.nav-buttons button:last-child {
  border: none;
}

.nav-buttons button:hover {
  color: crimson;
}
.tab-container {
  cursor: pointer;
}

.logo {
  /* padding: 40px 0 40px 30px; */
  color: white;
  cursor: auto;
}

/* MAIN NAV BTNS */
.btn-slice {
  padding: 1.2rem 1rem;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  position: relative;
  transition: all 1000ms cubic-bezier(0.89, -0.17, 0.14, 1.225);
  transition-timing-function: cubic-bezier(0.89, -0.17, 0.14, 1.225);
}
.btn-slice .top {
  line-height: 1rem;
  position: relative;
  height: 25px;
  overflow: hidden;
  top: 12.7px;
  transition: all 300ms cubic-bezier(1, -0.055, 0.025, 1.04);
  transition-timing-function: cubic-bezier(1, -0.055, 0.025, 1.04);
  transition-delay: 0.35s;
}
.btn-slice .bottom {
  position: relative;
  line-height: 1.75rem;
  height: 20px;
  overflow: hidden;
  bottom: 12px;
  transition: all 300ms cubic-bezier(1, -0.055, 0.025, 1.04);
  transition-timing-function: cubic-bezier(1, -0.055, 0.025, 1.04);
  transition-delay: 0.35s;
}
.nav-btns span:hover {
  cursor: pointer;
}

.btn-slice .bottom span {
  top: -6px;
  position: absolute;
  left: 0px;
}
.btn-slice:hover .top {
  top: -5px;
  transition-delay: 0.35s;
}
.btn-slice:hover .bottom {
  bottom: -5px;
  transition-delay: 0.35s;
}
.btn-slice:hover,
.btn-slice:focus,
.btn-slice:active {
  margin-left: 10px;
}
.btn-slice:before {
  content: '';
  height: 1px;
  background-color: rgb(152 158 160);
  position: absolute;
  cursor: pointer;
  margin-top: 20px;
  width: 0.01px;
  right: 0;
  transition: all 200ms cubic-bezier(0.89, -0.17, 0.14, 1.225);
  transition-timing-function: cubic-bezier(0.89, -0.17, 0.14, 1.225);
}
.btn-slice:hover:before {
  width: 100%;
}

.divider {
  width: 5px;
  background-color: rgb(174 27 55 / 81%);
  border: 0;
}

/*GRID CONTAINER */
.grid-container {
  background-color: white;
  padding: 30px 50px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: minmax(10px, 1fr);
  gap: 20px;
}
/* IMGS */
.grid-container img {
  width: 100%;
  grid-column: span 4;
  grid-row: span 4;
  cursor: pointer;
  transition: 0.3s;
}
.placeholder-image {
  width: 100%;
  grid-column: span 4;
  grid-row: span 4;
  cursor: pointer;
  transition: 0.3s;
}
.grid-container img:hover {
  box-shadow: 0px 4px 3px 0px rgba(223, 8, 8, 0.74);
}
/* GENERATOR  */
.generator-container {
  background-image: url(./img/leviathan_transparent_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 69vh;
}
.meme-generator {
  padding: 40px;
  width: 100%;
  height: 115%;
  justify-content: space-evenly;
}

/* FUNCTION GRID CONTAINER */
input[type='text'] {
  width: 100%;
  height: 20px;
  margin-bottom: 6px;
}
input[type='file'] {
  display: none;
}

/* FUNCTION GRID  */
.function-container {
  max-width: 500px;
  grid-template-areas:
    'fill-color add-line . font-picker font-picker'
    'stroke-color . a-up . font-up'
    '. a-left select a-right .'
    'align-left . a-down . delete'
    'align-center align-right . font-size-down font-size-up'
    'download download save share share';
  gap: 6px;
}
.function-container > * {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  color: var(--inv);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

/* .btn {
  position: relative;
  width: 50px;
  height: 50px;
  color: var(--inv);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
} */

.save {
  grid-area: save;
  width: 100%;
}
.save::before {
  font-family: fa;
  content: '\f0c7';
}
.share {
  grid-area: share;
  width: 100%;
}
.share::before {
  font-family: fa;
  content: '\f1e1';
}
.download-btn {
  grid-area: download;
  width: 100%;
}
.download-btn a::before {
  font-family: fa;
  content: '\f019';
}

.stroke-btn {
  grid-area: stroke-color;
}
.stroke {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
}
.stroke-btn::before {
  font-family: fa;
  content: '\f1fc';
}
.delete {
  grid-area: delete;
}
.delete::before {
  font-family: fa;
  content: '\f2ed';
}
.color-picker {
  grid-area: fill-color;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
}
.color-picker-btn::before {
  font-family: fa;
  content: '\f53f';
}
.add-line {
  grid-area: add-line;
}
.add-line::before {
  font-family: fa;
  content: '\f055';
}
.font-size-up {
  grid-area: font-size-up;
}
.font-size-up::before {
  font-family: fa;
  content: '\f034 \f067';
}
.font-size-down {
  grid-area: font-size-down;
}
.font-size-down::before {
  font-family: fa;
  content: '\f034 \f068';
}
.text-up {
  grid-area: a-up;
}
.text-up::before {
  font-family: fa;
  content: '\f062';
}
.text-down {
  grid-area: a-down;
}
.text-down::before {
  font-family: fa;
  content: '\f063';
}
.text-left {
  grid-area: a-left;
}
.text-left::before {
  font-family: fa;
  content: '\f060';
}
.text-right {
  grid-area: a-right;
}
.text-right::before {
  font-family: fa;
  content: '\f061';
}
.switch-line {
  grid-area: select;
}
.switch-line::before {
  font-family: fa;
  content: '\f362';
}
.text-align-left {
  grid-area: align-left;
}
.text-align-left::before {
  font-family: fa;
  content: '\f036';
}
.text-align-center {
  grid-area: align-center;
}
.text-align-center::before {
  font-family: fa;
  content: '\f037';
}
.text-align-right {
  grid-area: align-right;
}
.text-align-right::before {
  font-family: fa;
  content: '\f038';
}
.font-select {
  grid-area: font-picker;
  width: 100%;
}
/* CANVAS */
.canvas-container {
  /* margin: 20px; */
  /* justify-content: center; */
  height: 60%;
  width: 50%;
}

/* MEME PAGE */
.meme-container {
  padding: 20px;
  grid-column: span 4;
  grid-row: span 4;
  cursor: pointer;
  transition: 0.3s;
  grid-template-columns: repeat(auto-fit, minmax(30%, auto));
}

/* FOOTER */
.footer-container {
  height: 125px;
  background-image: url(./img/nav.jpg);
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: cover;
  border-top: 2px solid black;
}
.footer-container h2 {
  color: white;
  padding: 40px;
  text-align: center;
}
/* HELPERS */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}
.center-all {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 740px) {
  .meme-generator {
    flex-wrap: wrap;
  }
  .canvas-container {
    /* margin: 20px; */
    /* justify-content: center; */
    height: 100%;
    width: 100%;
  }
}
