* {
  box-sizing: border-box;
}
/* FONTS */
@font-face {
  font-family: meme-font;
  src: url(/font/impact.ttf);
}
/* MAIN NAV */
.main-nav {
  background-color: crimson;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 50px 0 50px 0;
}

/*GRID CONTAINER */
.grid-container {
  grid-template: max-content;
}

/* HELPERS */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}
